* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(178 170 187 / 48%);
}

.conteinerPar {
    width:60%;
    padding: 10px;
    margin: 0 auto;
}

.mark {
    display: flex;
}

.mark div {
    height: 30px;
}

#fail {
    background: red;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: inset 0px 0px 10px 5px #981f98;
}

#hit {
    background-color: rgb(0 150 136);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: inset 0px 0px 10px 5px #024c45;
    position: relative;
}

.circle {
    position: absolute;
    top: -4px;
    left: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #d7d7d7;
    box-shadow:  -3px -3px 7px #fff,  3px 3px 7px #00000085;
}
.circle::after{
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: #d7d7d7;
    box-shadow: inset -3px -3px 7px #fff, inset 3px 3px 7px #00000085;
}
.wind {
    max-width: 600px;
    padding: 25px;
    margin: 50px auto;
    border-radius: 15px;
    background: #d7d7d7;
    box-shadow:  -3px -3px 7px rgba(255, 255, 255, 0.572),  3px 3px 7px #00000085;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question {
    color: #009688;
    margin: 15px 0;
    line-height: 1.4;
}



#ley {
    height: 25px;
    padding: 20px 40px;
    margin: 15px 0;
    color: #009688;
    outline: none;
    border: none;
    border-radius: 12px;
    background: #d7d7d7;
    box-shadow: inset -3px -3px 7px #fff, inset 3px 3px 7px #00000085;
}
#ansBtn {
    padding: 14px 25px;
    border: none;
    transition: 2s;
    border-radius: 12px;
    color: #009688;
    background: #d7d7d7;
    box-shadow: inset -3px -3px 7px #fff, inset 3px 3px 7px #00000085;
}

#ansBtn:hover {
    color: #037c70;
    box-shadow:  -3px -3px 7px #fff,  3px 3px 7px #00000085;
}

::placeholder {
    color: #037c70;
}

.load {
    font-size: 45px;
    color: #037c70;
    padding: 35px 0;
    animation-name: animat;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

.row {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.row span {
    font-size: 20px;
    color: #037c70;
    margin:0 10px 20px;
}
#loader {
    text-align: center;
}

@keyframes animat {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(720deg);
    }
}

#bedAns {
    color: rgb(128, 18, 18);
}